extends layouts/login-layout.pug

block content
    .loginContainer
        h1 🌐 Sign in to Tweetie
        p.description Connect, share, and engage with people from around the world.
        form(method="post")

            p.errorMessage #{errorMessage}

            //- input(type="text", name="logUsername", placeholder="Username or email", value=logUsername required="")
            //- input(type="password", name="logPassword", placeholder="Password", required="")

            input(type="text", name="logUsername", placeholder="Username or email", value="" required="")
            input(type="password", name="logPassword", placeholder="Password", value="" required="")

            input(type="submit", value="Login")
        a(href="/register") Need an account? Register here.
